.companies {
  background-color: whitesmoke;

  &__container {
    display: flex;
    max-width: 1050px;
    align-items: center;
    justify-content: space-between;

    margin-top: 58px;
  }

  svg {
    fill: #737373;
  }
}
